*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 0 2%;
  align-items: center;
  height: 70px;
  margin-bottom: 2vh;
}

.elements{
  display: flex;
  /* border: 2px solid red; */
  width: 250px;
  justify-content: space-between;
}